.formContainer{
    display: grid;
    grid-template-areas:
        "localLabel localInput"
        "addrLabel addrInput"
        "portLabel portInput"
	"irEnableLabel irEnableInput"
	"irPinLabel irPinInput" 
        "submitButton submitButton";
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 0%;
    gap: 5px;
}

.formContainer > label.useLocal{
    grid-area: localLabel;
}

.formContainer > input.useLocal{
    grid-area: localInput;
    margin-right: auto;
    margin-left: 0%;
}

.formContainer > label.addr{
    grid-area: addrLabel;
}

.formContainer > input.addr{
    grid-area: addrInput;
}

.formContainer > label.port{
    grid-area: portLabel;
}

.formContainer > input.port{
    grid-area: portInput;
}

.formContainer > label.irEnable{
    grid-area: irEnableLabel;
}

.formContainer > input.irEnable{
    grid-area: irEnableInput;
    margin-right: auto;
    margin-left: 0%;
}

.formContainer > label.irPinNum{
    grid-area: irPinLabel;
}

.formContainer > input.irPinNum{
    grid-area: irPinInput;
}

.formContainer > button{
    grid-area: submitButton;
    padding: 5px;
    margin-top: 10px;
}

.saveContainer{
    display: grid;
    grid-template-areas:
        "saveText undoButton restoreButton";
    grid-template-columns: 10fr 1fr 1fr;
    padding: 5px;
    gap: 5px;
}

.saveContainer > .textContainer{
    grid-area: saveText;
    padding: 0px;
    align-self: center;
}

.saveContainer > button{
    margin-top: 0px;
}

.saveContainer > button.undoButton{
    grid-area: undoButton;
    height: 30px;
    width: 120px;
}

.saveContainer > button.restoreButton{
    grid-area: restoreButton;
    height: 30px;
    width: 130px;
}

.saveContainer > button{
    align-self: center;
}
